{% extends "base.html" %}

{% block main %}
<div class="container my-5">
    <header class="jumbotron my-1">
        <h1 class="display-4">The current user needs to be logged in to write.</h1>
        <p class="lead">
            A tag has many to many relationship in a board table.
        </p>  
    </header>
    <div class="text-center text-danger">{{ err_msg }}</div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" value="{{ board.title }}" readonly />
            <label for="contents">내용</label>
            <textarea class="form-control" readonly>{{ board.contents }}</textarea>
            <label for="tags">태그</label>            
            <span id="tags" class="form-control">
                {{ board.tags.all|join:", " }}
            </span>
            {% if board.photo %}
            <label for="title">사진</label>
            <img src="{{ board.photo.url }}" style="max-width:100%;"/>
            {% endif %}
            </div>
            <button class="btn btn-primary" onclick="location.href='/board/list/'">돌아가기</button>
            <button class="btn btn-primary ml-3" onclick="location.href='{% url 'board_update' board.id %}'">수정하기</button>
            <button class="btn btn-primary ml-3" onclick="location.href='{% url 'board_delete' board.id %}'">삭제하기</button>
            
        </div>
    </div>
</div>
{% endblock %}
