{% extends "base.html" %} 
{% load static %}
{% block main %} 
<!-- Header-->
<header class="bg-primary py-5 mb-5">
<div class="container h-50">
    <div class="row h-50 align-items-center">
        <div class="col-lg-12">
        <h1 class="display-5 text-white mt-2 mb-2">
            Django function based web site
        </h1>
        <p class="lead mb-5 text-white-50">
            This site made to understand how to use django funtional programing.
            If you have any better idea to share with django beginner, join our github group.
        </p>
        <a class="btn btn-success btn-lg" href="#!">Join the github group</a>
        </div>
    </div>
</div>
</header>
<!-- Page Content-->
<div class="container">
    <!-- Jumbotron Header-->
    <header class="jumbotron my-4">
    <h1 class="display-4">Click a case of functional-programing</h1>
    <p class="lead">
        This site made to understand how to use django funtional programing.
        If you have any better idea to share with django beginner, join our github group.
        
    </p>
    <a class="btn btn-primary btn-lg" href="#!">Join the github group</a>
    </header>
    <!-- Page Features-->
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
            <img
                class="card-img-top"
                src="https://via.placeholder.com/500x325"
                alt="..."
            />
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Sapiente esse necessitatibus neque.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="#!">Find Out More!</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
            <img
                class="card-img-top"
                src="https://via.placeholder.com/500x325"
                alt="..."
            />
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Explicabo magni sapiente, tempore debitis beatae culpa natus
                architecto.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="#!">Find Out More!</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
            <img
                class="card-img-top"
                src="https://via.placeholder.com/500x325"
                alt="..."
            />
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Sapiente esse necessitatibus neque.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="#!">Find Out More!</a>
            </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
            <img
                class="card-img-top"
                src="https://via.placeholder.com/500x325"
                alt="..."
            />
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Explicabo magni sapiente, tempore debitis beatae culpa natus
                architecto.
                </p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="#!">Find Out More!</a>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
